/* THIS IS HOW YOU LEAVE COMMENTS IN CSS */

*{
	margin:0px;
	padding:0px;
}

body{
	background:url('images/prettyGirlStream11b.png');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    width:100%;
	color:yellow;
	padding:10px;
	margin:10px;
	font-family:tahoma;
	
}

#vue-app{
	
	color:lime;
	text-shadow: 1px 1px 1px black;
	padding:10px;
	margin:10px;
	font-family:tahoma;
}

#canvas{
	background: url('images/face2a.png');
	width:400px;
	height:249px;
	padding: 100px 20px;
	border:3px solid yellow;
}

#demo1{
	text-shadow:2px 2px 2px black;
	text-align: center;
}
#demo1 sub{
font-family: 'Tangerine', cursive;
font-size:30px;
letter-spacing: 3px;
color:navy;
font-weight: bolder;
text-shadow: 0px 0px 0px black;
}

.text-lime{
	color:rgba(104,253,100,.99);
	
}

.myShadow{
	text-shadow: 1px 1px .5px black;
}
.myBorder{border:3px solid black;
          box-shadow: 2px 2px 3px rgba(0,0,0,.4);
          }
 #btn_1:hover{
 	background: lime;
 }

.myDarkOP{background: rgba(0,0,0,.75);}
.myDarkgreen{background: rgba(25,51,37,.85);}


.MyFontSize{
	font-size:24px;
}